.xy-provider {
  color: var(--xy-text-color);
}

.xy-focus-visible:focus-visible {
  outline: 2px solid color-mix(in srgb, var(--xy-color-primary) 58%, white);
  outline-offset: 2px;
  box-shadow: 0 0 0 4px var(--xy-focus-ring-color);
}

.xy-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.xy-popper__arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
  pointer-events: none;
}

.xy-popper__arrow::before {
  content: "";
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  transform: rotate(45deg);
  background: var(--xy-bg-color-floating);
  border: 1px solid var(--xy-border-color-subtle);
}

[data-placement^="bottom"] > .xy-popper__arrow::before {
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-left-radius: 2px;
}

[data-placement^="top"] > .xy-popper__arrow::before {
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-right-radius: 2px;
}
