.xy-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.xy-icon > * {
  display: block;
}

.xy-icon.is-spin > * {
  animation: xy-spin 1s linear infinite;
}
