*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--xy-font-family-base);
  color: var(--xy-text-primary);
  background: var(--xy-bg-container);
}

body {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
